@font-face {
  font-family: "TT Interfaces";
  src: local("TT Interfaces Medium"), local("TT-Interfaces-Medium"), url("../fonts/TTInterfaces-Medium.woff2") format("woff2"), url("../fonts/TTInterfaces-Medium.woff") format("woff"), url("../fonts/TTInterfaces-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Interfaces";
  src: local("TT Interfaces Regular"), local("TT-Interfaces-Regular"), url("../fonts/TTInterfaces-Regular.woff2") format("woff2"), url("../fonts/TTInterfaces-Regular.woff") format("woff"), url("../fonts/TTInterfaces-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  height: auto;
}

body {
  font-family: "TT Interfaces";
}

a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 950px) {
  .container {
    padding: 0 16px;
  }
}

.above {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 24px;
  border-radius: 24px;
  border: 1px solid #F1F1F1;
  background: #F7FAF7;
  color: #11BA5F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 10px;
}
@media (max-width: 950px) {
  .above {
    font-size: 10px;
  }
}

section h2, .h2 {
  color: #1A1A1A;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
section h2 span, .h2 span {
  color: #11BA5F;
}
@media (max-width: 950px) {
  section h2, .h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 750px) {
  section h2, .h2 {
    margin-bottom: 16px;
  }
}

.header {
  padding: 24px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 44;
  width: 100%;
  transition: 0.3s;
}
.header.pre-fixed {
  border-bottom: 0.5px solid var(--Green-Accent, #11BA5F);
  background: linear-gradient(180deg, rgba(251, 251, 251, 0.44) 0%, rgba(251, 251, 251, 0.44) 50%, rgba(251, 251, 251, 0.44) 100%);
  -webkit-backdrop-filter: blur(32.5px);
          backdrop-filter: blur(32.5px);
}
.header .burger-btn {
  display: none;
}
@media (max-width: 950px) {
  .header .burger-btn {
    display: block;
    margin-left: 20px;
  }
}
.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 278px;
}
@media (max-width: 950px) {
  .header .logo {
    height: auto;
  }
}
@media (max-width: 950px) {
  .header .main_nav {
    display: none;
  }
}
.header .main_nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header .main_nav ul li {
  margin: 0 16px;
}
.header .main_nav ul li a {
  color: #757B7A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .main_nav ul li a:hover {
  color: #1A1A1A;
}
.header .buttons-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .header .buttons-wrapper {
    display: none;
  }
}
.header .btn-gren {
  width: 104px;
  margin-left: 20px;
}

footer {
  position: relative;
  background: #000;
  padding: 80px 0;
  z-index: 0;
  overflow: hidden;
}
@media (max-width: 750px) {
  footer {
    padding: 40px 0;
  }
  footer .logo {
    display: flex;
    justify-content: center;
  }
}
footer .main_nav {
  margin-top: 32px;
}
footer .main_nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
footer .main_nav ul li {
  margin-right: 32px;
}
footer .main_nav ul li a {
  color: #757B7A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .main_nav ul li a:hover {
  color: #11BA5F;
}
@media (max-width: 750px) {
  footer .main_nav {
    margin-top: 40px;
  }
  footer .main_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  footer .main_nav ul li {
    margin: 0;
  }
}
footer .footer__bottom {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 750px) {
  footer .footer__bottom {
    justify-content: center;
    margin-top: 40px;
  }
}
footer .social {
  display: flex;
  gap: 10px;
}
footer .social a:hover path {
  fill: #11BA5F;
}
footer .social a:hover rect + rect {
  stroke: #11BA5F;
}
footer .desc {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: 150%;
  max-width: 723px;
}
@media (max-width: 750px) {
  footer .desc {
    display: none;
  }
}
footer .bg-el-1 {
  position: absolute;
  left: 0;
  height: auto;
  z-index: -1;
  top: 30%;
  transform: translateY(-50%);
}
@media (max-width: 750px) {
  footer .bg-el-1 {
    top: 30%;
    right: 35%;
    left: auto;
  }
}
footer .bg-el-2 {
  position: absolute;
  right: 0;
  height: auto;
  z-index: -1;
  top: 60%;
  transform: translateY(-50%);
}
@media (max-width: 750px) {
  footer .bg-el-2 {
    top: 70%;
    left: 35%;
    right: auto;
  }
}

.main-banner {
  background-size: cover;
  background-position: top;
  padding: 182px 0 0;
}
@media (max-width: 750px) {
  .main-banner {
    padding-top: 80px;
  }
}
.main-banner h1 {
  color: #1A1A1A;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
@media (max-width: 750px) {
  .main-banner h1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 10px;
  }
}
.main-banner .below {
  margin-bottom: 42px;
  color: #1A1A1A;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 750px) {
  .main-banner .below {
    max-width: 300px;
    margin-bottom: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
  }
}
.main-banner .flex-wrapper {
  display: flex;
  flex-direction: column;
}
.main-banner img.main-banner__image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.main-banner .form-email {
  max-width: 660px;
  width: 100%;
  margin: 0 auto 110px;
}
@media (max-width: 950px) {
  .main-banner .form-email {
    margin: 0 auto 60px;
  }
}
.main-banner .form-email form {
  width: 100%;
}
.main-banner .form-row {
  display: flex;
  align-items: flex-start;
}
.main-banner .form-item {
  width: 69%;
}
.main-banner .form-item input {
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  background: #FFF;
  overflow: hidden;
  color: #1A1A1A;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
}
@media (max-width: 750px) {
  .main-banner .form-item input {
    font-size: 12px;
    height: 38px;
    border-radius: 6px;
  }
}
.main-banner .form-item input::-moz-placeholder {
  color: #1A1A1A;
  font-family: "TT Interfaces";
}
.main-banner .form-item input::placeholder {
  color: #1A1A1A;
  font-family: "TT Interfaces";
}
.main-banner .btn-gren {
  width: calc(31% - 14px);
  margin-left: 14px;
}
@media (max-width: 750px) {
  .main-banner .btn-gren {
    font-size: 12px;
    width: 100px;
    height: 38px;
    border-radius: 6px;
  }
}

.btn-gren {
  display: flex;
  height: 52px;
  width: 140px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #11BA5F;
  background-color: #11BA5F;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
  gap: 4px;
  padding-left: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-gren::before {
  content: "";
  background-image: url(http://hearts-solution.local/wp-content/uploads/2024/09/bg-btn.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.btn-gren .ico {
  transition: 0.3s ease-in-out;
  width: 0;
  height: auto;
}
.btn-gren:hover {
  padding-left: 0;
  background: #FFF;
  color: #11BA5F;
  box-shadow: 0px 0px 14px 0px rgba(17, 186, 95, 0.34);
}
.btn-gren:hover::before {
  opacity: 1;
}
.btn-gren:hover .ico {
  width: 25px;
}

.person-card {
  margin: 100px 0 80px;
}
@media (max-width: 950px) {
  .person-card {
    margin: 40px 0;
  }
}
.person-card .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px -32px;
}
@media (max-width: 750px) {
  .person-card .flex-wrapper {
    margin-bottom: -16px;
  }
}
.person-card .card {
  width: calc(50% - 24px);
  margin: 0 12px 32px;
  position: relative;
  padding-bottom: 52px;
}
@media (max-width: 750px) {
  .person-card .card {
    width: calc(100% - 24px);
    padding-bottom: 38px;
    margin-bottom: 16px;
  }
}
.person-card .card .photo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.person-card .card .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.person-card .card h3 {
  color: #1A1A1A;
  font-size: 28px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
}
@media (max-width: 750px) {
  .person-card .card h3 {
    font-size: 20px;
  }
}
.person-card .card p {
  color: #757B7A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  margin: 12px 0;
}
@media (max-width: 750px) {
  .person-card .card p {
    font-size: 14px;
    margin: 8px 0 14px;
  }
}
.person-card .link {
  position: absolute;
  bottom: 0;
}
.person-card .link {
  display: inline-flex;
  height: 52px;
  width: 147px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #11BA5F;
  color: #11BA5F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
  gap: 4px;
  padding-left: 4px;
  overflow: hidden;
}
@media (max-width: 750px) {
  .person-card .link {
    width: 94px;
    height: 38px;
    font-size: 12px;
  }
}
.person-card .link::before {
  content: "";
  background-image: url(http://hearts-solution.local/wp-content/uploads/2024/09/bg-btn.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.person-card .link .ico {
  transition: 0.3s ease-in-out;
  width: 0;
  height: auto;
}
.person-card .link:hover {
  padding-left: 0;
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(17, 186, 95, 0.34);
}
.person-card .link:hover::before {
  opacity: 1;
}
.person-card .link:hover .ico {
  width: 25px;
}

.our-team {
  margin: 100px 0 80px;
}
@media (max-width: 950px) {
  .our-team {
    margin: 40px 0;
  }
}
.our-team .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px -32px;
}
.our-team .card {
  width: calc(25% - 32px);
  margin: 0 16px 32px;
}
@media (max-width: 1110px) {
  .our-team .card {
    width: calc(33.3333333333% - 32px);
  }
}
@media (max-width: 910px) {
  .our-team .card {
    width: calc(50% - 32px);
  }
}
@media (max-width: 600px) {
  .our-team .card {
    width: calc(100% - 32px);
  }
}
.our-team .photo {
  display: flex;
  align-items: center;
}
.our-team .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.our-team h3 {
  color: #1A1A1A;
  font-size: 28px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
  margin: 16px 0 6px;
}
.our-team .position {
  color: #1A1A1A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 4px;
}
.our-team a {
  color: #757B7A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration-line: underline;
}
.our-team a path {
  transition: 0.3s ease-in-out;
}
.our-team a:hover {
  color: #11BA5F;
}
.our-team a:hover path {
  fill: #11BA5F;
}

.contact_us .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 750px) {
  .contact_us .flex-wrapper {
    flex-direction: column;
    margin: 0;
  }
}
.contact_us .first-column {
  width: 50%;
  margin: 0 10px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  border: 0.5px solid #D6D6D6;
  display: flex;
  flex-direction: column;
  background: #FBFBFB;
  padding: 40px 40px;
}
@media (max-width: 750px) {
  .contact_us .first-column {
    width: 100%;
    padding: 20px;
    margin: 0 0 16px;
  }
}
.contact_us .first-column .titl {
  color: #1A1A1A;
  font-size: 28px;
  font-style: normal;
  font-weight: 492;
  line-height: 110%;
  margin-bottom: 14px;
}
@media (max-width: 750px) {
  .contact_us .first-column .titl {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.contact_us .first-column .dsc {
  color: #1A1A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
}
@media (max-width: 750px) {
  .contact_us .first-column .dsc {
    font-size: 10px;
    margin-bottom: 96px;
  }
}
.contact_us .btn-white {
  margin-top: auto;
}
.contact_us .second-column {
  width: calc(50% - 40px);
  margin: 0 10px;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .contact_us .second-column {
    width: 100%;
    margin: 0;
  }
}
.contact_us .second-column img {
  width: 100%;
}

.black-banner .main_info {
  border-radius: 20px;
  background: #000;
  margin: 80px auto;
  padding: 60px 0;
  max-width: 1360px;
  background-size: 100%;
  background-position: top;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 1400px) {
  .black-banner .main_info {
    margin: 0 20px;
  }
}
@media (max-width: 950px) {
  .black-banner .main_info {
    margin: 0 16px;
  }
}
@media (max-width: 750px) {
  .black-banner .main_info {
    border-radius: 10px;
    padding: 40px 0;
    margin: 40px 16px;
    background-image: url(http://hearts-solution.local/wp-content/uploads/2024/09/cube-mob.svg) !important;
  }
}
.black-banner .vertical {
  text-align: center;
}
.black-banner h3 {
  color: #fff;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
.black-banner h3 span {
  color: #11BA5F;
}
@media (max-width: 750px) {
  .black-banner h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }
}
.black-banner .above {
  border-radius: 32px;
  border: 1px solid rgba(232, 239, 238, 0.04);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(19, 37, 34, 0.12) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: #11BA5F;
}
@media (max-width: 750px) {
  .black-banner .vertical {
    padding: 0 11px;
  }
}
.black-banner .vertical .black_banner {
  display: flex;
  flex-wrap: wrap;
  margin: 36px auto 0;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (min-width: 1210px) {
  .black-banner .vertical .black_banner:after {
    content: "";
    width: 100%;
    order: 0;
  }
}
@media (max-width: 450px) {
  .black-banner .vertical .black_banner:after {
    content: "";
    width: 100%;
    order: 0;
  }
}
@media (max-width: 750px) {
  .black-banner .vertical .black_banner {
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-top: 0;
  }
}
.black-banner .vertical .black_banner-icon {
  margin-top: 24px;
  display: flex;
  padding: 4px 16px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid rgba(232, 239, 238, 0.04);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(130, 130, 130, 0.12) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media (min-width: 1210px) {
  .black-banner .vertical .black_banner-icon:nth-child(6), .black-banner .vertical .black_banner-icon:nth-child(7), .black-banner .vertical .black_banner-icon:nth-child(8), .black-banner .vertical .black_banner-icon:nth-child(9), .black-banner .vertical .black_banner-icon:nth-child(10), .black-banner .vertical .black_banner-icon:nth-child(11) {
    order: 1;
  }
}
@media (max-width: 450px) {
  .black-banner .vertical .black_banner-icon:nth-child(3), .black-banner .vertical .black_banner-icon:nth-child(4), .black-banner .vertical .black_banner-icon:nth-child(5), .black-banner .vertical .black_banner-icon:nth-child(6), .black-banner .vertical .black_banner-icon:nth-child(7), .black-banner .vertical .black_banner-icon:nth-child(8), .black-banner .vertical .black_banner-icon:nth-child(9), .black-banner .vertical .black_banner-icon:nth-child(10), .black-banner .vertical .black_banner-icon:nth-child(11) {
    order: 1;
  }
}
@media (max-width: 750px) {
  .black-banner .vertical .black_banner-icon {
    padding: 4px 10px 4px 4px;
    font-size: 12px;
    gap: 4px;
    margin-top: 5px;
  }
  .black-banner .vertical .black_banner-icon img {
    width: 24px;
    height: 24px;
  }
}
.black-banner .vertical .black_banner-icon:hover {
  border: 1px solid #11BA5F;
  box-shadow: 0px 0px 24px 0px rgba(17, 186, 95, 0.4);
}
.black-banner .horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 750px) {
  .black-banner .horizontal {
    flex-direction: column;
  }
}
.black-banner .horizontal p {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 14px;
}
@media (max-width: 750px) {
  .black-banner .horizontal p {
    font-size: 14px;
  }
}
.black-banner .horizontal .first-column {
  width: 50%;
}
@media (max-width: 750px) {
  .black-banner .horizontal .first-column {
    width: 100%;
    padding: 0 4px;
  }
}
.black-banner .horizontal .second-column {
  width: calc(50% - 50px);
  margin-left: 50px;
}
@media (max-width: 750px) {
  .black-banner .horizontal .second-column {
    margin-left: 0px;
    width: 100%;
    padding: 0 4px;
    margin: 20px 0 0;
  }
}
.black-banner .horizontal .black_banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -24px;
}
.black-banner .horizontal .black_banner-icon {
  width: calc(50% - 12px);
  margin-top: 24px;
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 34px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid rgba(232, 239, 238, 0.16);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(11, 11, 11, 0.6) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}
@media (min-width: 1210px) {
  .black-banner .horizontal .black_banner-icon:nth-child(6), .black-banner .horizontal .black_banner-icon:nth-child(7), .black-banner .horizontal .black_banner-icon:nth-child(8), .black-banner .horizontal .black_banner-icon:nth-child(9), .black-banner .horizontal .black_banner-icon:nth-child(10), .black-banner .horizontal .black_banner-icon:nth-child(11) {
    order: 1;
  }
}
@media (max-width: 1110px) {
  .black-banner .horizontal .black_banner-icon img {
    max-width: 120px;
    max-height: 24px;
  }
}
@media (max-width: 750px) {
  .black-banner .horizontal .black_banner-icon {
    width: calc(50% - 5px);
    gap: 15px;
    height: 132px;
  }
  .black-banner .horizontal .black_banner-icon:nth-child(3) img {
    max-width: 90px;
  }
  .black-banner .horizontal .black_banner-icon:nth-child(4) img {
    max-width: 90px;
  }
}
.black-banner .horizontal .black_banner-icon:hover {
  border: 1px solid #11BA5F;
  box-shadow: 0px 0px 24px 0px rgba(17, 186, 95, 0.4);
}
.black-banner .bg-el-1 {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50%;
  height: auto;
  z-index: -1;
}
.black-banner .bg-el-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
  height: auto;
  z-index: -1;
}

.history + .black-banner .main_info {
  padding: 80px 0;
}
@media (max-width: 750px) {
  .history + .black-banner .main_info {
    padding: 40px 0;
  }
}

.btn-green {
  display: inline-flex;
  height: 52px;
  width: 152px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #11BA5F;
  color: #11BA5F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
  gap: 4px;
  padding-left: 4px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 750px) {
  .btn-green {
    width: 110px;
    height: 38px;
    font-size: 12px;
  }
}
.btn-green::before {
  content: "";
  background-image: url(http://hearts-solution.local/wp-content/uploads/2024/09/bg-btn.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.btn-green .ico {
  transition: 0.3s ease-in-out;
  width: 0;
  height: auto;
}
.btn-green:hover {
  padding-left: 0;
  background: #11BA5F;
  color: #FFF;
}
.btn-green:hover::before {
  opacity: 0;
}
.btn-green:hover .ico {
  width: 24px;
}
@media (max-width: 750px) {
  .btn-green:hover .ico {
    width: 18px;
  }
}

.btn-white {
  display: inline-flex;
  height: 52px;
  width: 152px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #11BA5F;
  color: #11BA5F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
  gap: 6px;
  padding-left: 6px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 750px) {
  .btn-white {
    width: 110px;
    height: 38px;
    font-size: 12px;
  }
}
.btn-white::before {
  content: "";
  background-image: url(http://hearts-solution.local/wp-content/uploads/2024/09/bg-btn.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.btn-white .ico {
  transition: 0.3s ease-in-out;
  width: 0;
  height: auto;
}
.btn-white:hover {
  padding-left: 0;
  background: #FFF;
  box-shadow: 0px 0px 14px 0px rgba(17, 186, 95, 0.34);
}
.btn-white:hover::before {
  opacity: 1;
}
.btn-white:hover .ico {
  width: 22px;
}
@media (max-width: 750px) {
  .btn-white:hover .ico {
    width: 18px;
  }
}

.black-banner + .person-card .card {
  padding-bottom: 0;
}

.history {
  margin: 100px 0;
}
@media (max-width: 950px) {
  .history {
    margin: 40px 0;
  }
}
.history .container {
  max-width: 1110px;
}
.history .above {
  margin: 0 auto 10px;
  display: flex;
  width: 107px;
}
.history .h2 {
  text-align: center;
  margin-bottom: 14px;
}
.history .desc {
  max-width: 415px;
  margin: 0 auto 40px;
  color: #1A1A1A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 750px) {
  .history .history_blocks {
    max-width: 345px;
    margin: 0 auto;
  }
}
.history .history_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 750px) {
  .history .history_block {
    flex-direction: column-reverse;
    padding-left: 73px;
    position: relative;
    margin-bottom: 16px;
  }
  .history .history_block:nth-child(5) .year:after {
    height: 200px;
  }
  .history .history_block:nth-child(5) .year svg {
    height: 200px;
  }
}
.history .history_block:last-child {
  margin-bottom: 0;
}
.history .history_block:last-child .year:after {
  display: none;
}
.history .history_block:last-child .year svg {
  display: none;
}
.history .history_block:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 750px) {
  .history .history_block:nth-child(2n) {
    flex-direction: column-reverse;
  }
}
.history .history_block .img {
  width: 45%;
  max-width: 415px;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .history .history_block .img {
    width: 100%;
    max-width: 100%;
  }
}
.history .history_block .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
@media (max-width: 750px) {
  .history .history_block .img img {
    border-radius: 10px;
  }
}
.history .history_block .year {
  width: 10%;
  max-width: 66px;
  margin: 0 20px;
  display: flex;
  padding: 8px 14px;
  width: 66px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 14px;
  border: 1px solid #F1F1F1;
  background: #F7FAF7;
  color: #11BA5F;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: 150%;
  position: relative;
}
@media (max-width: 750px) {
  .history .history_block .year {
    position: absolute;
    left: 0;
    width: 54px;
    height: 54px;
    top: 0;
    margin: 0;
    font-size: 12px;
  }
}
.history .history_block .year:after {
  content: "";
  width: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: -2;
  height: 178px;
  background-image: linear-gradient(to top, rgba(17, 186, 95, 0.3), rgba(17, 186, 95, 0.1), rgba(17, 186, 95, 0.3));
}
@media (max-width: 750px) {
  .history .history_block .year:after {
    height: 182px;
  }
}
.history .history_block .year svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: -1;
}
@media (max-width: 750px) {
  .history .history_block .year svg {
    height: 182px;
    width: auto;
  }
}
.history .history_block .text {
  width: 45%;
  max-width: 415px;
}
@media (max-width: 750px) {
  .history .history_block .text {
    width: 100%;
    max-width: 100%;
  }
}
.history .history_block .text h3 {
  color: #1A1A1A;
  font-size: 28px;
  font-style: normal;
  font-weight: 492;
  line-height: 110%;
  margin-bottom: 12px;
}
@media (max-width: 750px) {
  .history .history_block .text h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.history .history_block .text p {
  color: #596780;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.32px;
  max-width: 370px;
}
@media (max-width: 750px) {
  .history .history_block .text p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.map-block {
  margin: 100px 0;
}
@media (max-width: 950px) {
  .map-block {
    margin: 40px 0 22px;
  }
}
.map-block .map-block__body {
  border-radius: 20px;
  background: #0B0B0B;
  max-width: 1360px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1400px) {
  .map-block .map-block__body {
    margin: 0 20px;
  }
}
@media (max-width: 950px) {
  .map-block .map-block__body {
    margin: 0 16px;
  }
}
@media (max-width: 750px) {
  .map-block .map-block__body {
    padding: 40px 0 0;
  }
}
.map-block .map-block__img {
  border-radius: 20px;
  border: 1px solid rgba(232, 239, 238, 0.16);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(11, 11, 11, 0.6) 100%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-self: center;
  height: auto;
  position: relative;
}
.map-block .map-block__img img {
  max-width: 100%;
}
.map-block .map-block__img .nice_place {
  cursor: pointer;
  position: absolute;
  top: 34%;
  left: 37%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 750px) {
  .map-block .map-block__img .nice_place {
    gap: 5px;
  }
}
.map-block .map-block__img .nice_place:hover .name, .map-block .map-block__img .nice_place.active .name {
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .nice_place:hover svg, .map-block .map-block__img .nice_place.active svg {
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .nice_place svg {
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  display: flex;
}
@media (max-width: 750px) {
  .map-block .map-block__img .nice_place svg {
    width: 14px;
    height: 14px;
  }
}
.map-block .map-block__img .nice_place .name {
  transition: 0.3s ease-in-out;
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px rgba(0, 0, 0, 0.15);
  color: #1A1A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
}
@media (max-width: 750px) {
  .map-block .map-block__img .nice_place .name {
    padding: 6px 10px;
    font-size: 10px;
    height: 25px;
  }
}
.map-block .map-block__img .dubai_place {
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 59%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 750px) {
  .map-block .map-block__img .dubai_place {
    gap: 5px;
    top: 44%;
    left: 56%;
  }
}
.map-block .map-block__img .dubai_place:hover .name, .map-block .map-block__img .dubai_place.active .name {
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .dubai_place:hover svg, .map-block .map-block__img .dubai_place.active svg {
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .dubai_place svg {
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
@media (max-width: 750px) {
  .map-block .map-block__img .dubai_place svg {
    width: 14px;
    height: 14px;
  }
}
.map-block .map-block__img .dubai_place .name {
  transition: 0.3s ease-in-out;
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px rgba(0, 0, 0, 0.15);
  color: #1A1A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
}
@media (max-width: 750px) {
  .map-block .map-block__img .dubai_place .name {
    padding: 6px 10px;
    font-size: 10px;
    height: 25px;
  }
}
.map-block .map-block__img .hongkong_place {
  cursor: pointer;
  position: absolute;
  top: 68%;
  left: 73%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 750px) {
  .map-block .map-block__img .hongkong_place {
    gap: 5px;
    top: 63%;
    left: 69%;
  }
}
.map-block .map-block__img .hongkong_place:hover .name, .map-block .map-block__img .hongkong_place.active .name {
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .hongkong_place:hover svg, .map-block .map-block__img .hongkong_place.active svg {
  box-shadow: 0px 0px 33.676px 0px #11BA5F;
}
.map-block .map-block__img .hongkong_place svg {
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
@media (max-width: 750px) {
  .map-block .map-block__img .hongkong_place svg {
    width: 14px;
    height: 14px;
  }
}
.map-block .map-block__img .hongkong_place .name {
  transition: 0.3s ease-in-out;
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 100px;
  background: linear-gradient(180deg, #FFF 0%, #FAFAFA 100%);
  box-shadow: 0px 0px 33.676px 0px rgba(0, 0, 0, 0.15);
  color: #1A1A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
}
@media (max-width: 750px) {
  .map-block .map-block__img .hongkong_place .name {
    padding: 6px 10px;
    font-size: 10px;
    height: 25px;
  }
}
.map-block h2 {
  color: #fff;
}
@media (max-width: 750px) {
  .map-block h2 {
    margin-bottom: 32px;
  }
}
.map-block .above {
  border-radius: 32px;
  border: 1px solid rgba(232, 239, 238, 0.04);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(19, 37, 34, 0.12) 100%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: #11BA5F;
}
.map-block .bg-el-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 50%;
  height: auto;
  z-index: -1;
}
.map-block .flex-wrapper {
  display: flex;
}
@media (max-width: 950px) {
  .map-block .flex-wrapper {
    flex-direction: column-reverse;
  }
}
.map-block .flex-wrapper .right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map-block .flex-wrapper .right-container .card {
  display: flex;
  width: 434px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(232, 239, 238, 0.16);
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(11, 11, 11, 0.6) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 950px) {
  .map-block .flex-wrapper .right-container .card {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .map-block .flex-wrapper .right-container .card {
    padding: 20px;
  }
}
.map-block .flex-wrapper .right-container .card:hover, .map-block .flex-wrapper .right-container .card.active {
  border: 1px solid #11BA5F;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.6) 0%, rgba(11, 11, 11, 0.6) 100%);
}
.map-block .flex-wrapper .right-container .card:last-child {
  margin-bottom: 0;
}
@media (max-width: 750px) {
  .map-block .flex-wrapper .right-container .card:last-child {
    margin-bottom: 20px;
  }
}
.map-block .flex-wrapper .right-container .card h3 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
  margin-bottom: 32px;
}
@media (max-width: 750px) {
  .map-block .flex-wrapper .right-container .card h3 {
    font-size: 18px;
  }
}
.map-block .flex-wrapper .right-container .card .subtitle {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 492;
  line-height: normal;
  margin-bottom: 14px;
}
.map-block .flex-wrapper .right-container .card .subtitle span {
  color: #11BA5F;
}
@media (max-width: 750px) {
  .map-block .flex-wrapper .right-container .card .subtitle {
    font-size: 14px;
  }
}
.map-block .flex-wrapper .right-container .card p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.28px;
}
@media (max-width: 750px) {
  .map-block .flex-wrapper .right-container .card p {
    font-size: 12px;
  }
}/*# sourceMappingURL=lading-style.css.map */