@import '_mixins';
//web page width
$notebook: 1400px;
$row: 1140px;
$md: 960px;
$sm: 768px;
$xs: 576px;
//main color
$a: #081427;
//second color
$b: #FBFBFB;
//link color
$link: $a;
// button color
$btn: #3b5993;

$border: #cccccc;
$text: #333333;
$menu: $a;

$inputH: 40px;

//social media color
$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$youtube: #f80000;
$pinterest: #bd081c;
$vimeo: #1bb7ea;
$google_plus: #dd4c39;
$yelp: #d32323;

/* FONTS
   ========================================================================== */
//custom icon fonts
// @include declare-font('font-name', 'font-layout', font-weight, font-style);
$font: "Poppins", sans-serif;
$font2: 'PP Mori';
@include declare-font('PP Mori', 'PPMori-Regular', 400, normal);

/* MAIN  FILES
   ========================================================================== */
@import 'components/reset';
//flexbox
@import 'components/flexo';
//woocommerce basic style
//@import 'components/11_woocommerce';
// global elements (buttons, etc..)
@import 'components/global';
// style for custom page
@import 'components/pages';